<!-- <div class="gallery-container pt-5 pb-5">
  <div class="grid-item">
    <a data-fancybox="gallery" href="images/gallery/life/love.jpg"
      ><img src="images/gallery/life/love.jpg"
    /></a>
  </div>
  <div class="grid-item">
    <a data-fancybox="gallery" href="images/gallery/life/life_1.jpg"
      ><img src="images/gallery/life/life_1.jpg"
    /></a>
  </div>
  <div class="grid-item">
    <a data-fancybox="gallery" href="images/gallery/life/life_2.jpg"
      ><img src="images/gallery/life/life_2.jpg"
    /></a>
    <a data-fancybox="gallery" href="images/gallery/life/life_3.jpg"
      ><img src="images/gallery/life/life_3.jpg"
    /></a>
  </div>
  <div class="grid-item">
    <a data-fancybox="gallery" href="images/gallery/life/life_4.jpg"
      ><img src="images/gallery/life/life_4.jpg"
    /></a>
    <a data-fancybox="gallery" href="images/gallery/life/life_5.jpg"
      ><img src="images/gallery/life/life_5.jpg"
    /></a>
  </div>
</div> -->
<div class="gallery-wrapper life pt-5 pb-5">
  <div class="cover-image">
    <img src="images/gallery/life/life.jpg">
  </div>
  <div class="gallery-life-shooting"><img src="images/gallery/life/shooting.png" /></div>
</div>