<div class="gallery-container">
  <div class="grid-item">
    <a data-fancybox="gallery" href="images/gallery/life/life-1.jpg"
      ><img src="images/gallery/life/life-title.jpg"
    /></a>
  </div>
  <div class="grid-item">
    <a data-fancybox="gallery" href="images/gallery/life/life-1.jpg"
      ><img src="images/gallery/life/life-1.jpg"
    /></a>
  </div>
  <div class="grid-item">
    <a data-fancybox="gallery" href="images/gallery/life/life-2.jpg"
      ><img src="images/gallery/life/life-2.jpg"
    /></a>
    <a data-fancybox="gallery" href="images/gallery/life/life-3.jpg"
      ><img src="images/gallery/life/life-3.jpg"
    /></a>
  </div>
  <div class="grid-item">
    <a data-fancybox="gallery" href="images/gallery/life/life-4.jpg"
      ><img src="images/gallery/life/life-4.jpg"
    /></a>
    <a data-fancybox="gallery" href="images/gallery/life/life-5.jpg"
      ><img src="images/gallery/life/life-5.jpg"
    /></a>
  </div>
</div>
