<div class="gallery-container pt-5 pb-5 extra-padding-5">
  <div class="grid-item">
    <a data-fancybox="gallery" href="images/gallery/work/work-1.jpg"
      ><img src="images/gallery/work/work-title.jpg"
    /></a>
  </div>
  <div class="grid-item">
    <a data-fancybox="gallery" href="images/gallery/work/work-1.jpg"
      ><img src="images/gallery/work/work-1.jpg"
    /></a>
  </div>
  <div class="grid-item">
    <a data-fancybox="gallery" href="images/gallery/work/work-2.jpg"
      ><img src="images/gallery/work/work-2.jpg"
    /></a>
    <a data-fancybox="gallery" href="images/gallery/work/work-3.jpg"
      ><img src="images/gallery/work/work-3.jpg"
    /></a>
  </div>
  <div class="grid-item">
    <a data-fancybox="gallery" href="images/gallery/work/work-4.jpg"
      ><img src="images/gallery/work/work-4.jpg"
    /></a>
    <a data-fancybox="gallery" href="images/gallery/work/work-5.jpg"
      ><img src="images/gallery/work/work-5.jpg"
    /></a>
  </div>
</div>
