<div class="gallery-container pt-5 pb-5">
    <div class="grid-item">
      <a data-fancybox="gallery" href="images/gallery/journey/journey.jpg"
        ><img src="images/gallery/journey/journey.jpg"
      /></a>
    </div>
    <div class="grid-item">
      <a data-fancybox="gallery" href="images/gallery/journey/1-1.jpg"
        ><img src="images/gallery/journey/1-1.jpg"
      /></a>
    </div>
    <div class="grid-item">
      <a data-fancybox="gallery" href="images/gallery/journey/2-1.jpg"
        ><img src="images/gallery/journey/2-1.jpg"
      /></a>
      <a data-fancybox="gallery" href="images/gallery/journey/2-2.jpg"
        ><img src="images/gallery/journey/2-2.jpg"
      /></a>
    </div>
    <div class="grid-item">
      <a data-fancybox="gallery" href="images/gallery/journey/3-1.jpg"
        ><img src="images/gallery/journey/3-1.jpg"
      /></a>
      <a data-fancybox="gallery" href="images/gallery/journey/3-2.jpg"
        ><img src="images/gallery/journey/3-2.jpg"
      /></a>
    </div>
  </div>
  