<div class="gallery-container">
    <div class="grid-item">
      <a data-fancybox="gallery" href="images/gallery/gallery_1.jpg"
        ><img src="images/gallery/gallery_1.jpg"
      /></a>
    </div>
    <div class="grid-item">
      <a data-fancybox="gallery" href="images/gallery/gallery_2.jpg"
        ><img src="images/gallery/gallery_2.jpg"
      /></a>
    </div>
    <div class="grid-item">
      <a data-fancybox="gallery" href="images/gallery/gallery_3.jpg"
        ><img src="images/gallery/gallery_3.jpg"
      /></a>
    </div>
    <div class="grid-item">
      <a data-fancybox="gallery" href="images/gallery/gallery_4.jpg"
        ><img src="images/gallery/gallery_4.jpg"
      /></a>
    </div>
    <div class="grid-item">
      <a data-fancybox="gallery" href="images/gallery/gallery_5.jpg"
        ><img src="images/gallery/gallery_5.jpg"
      /></a>
    </div>
    <div class="grid-item">
      <a data-fancybox="gallery" href="images/gallery/gallery_6.jpg"
        ><img src="images/gallery/gallery_6.jpg"
      /></a>
    </div>
    <div class="grid-item">
      <a data-fancybox="gallery" href="images/gallery/gallery_7.jpg"
        ><img src="images/gallery/gallery_7.jpg"
      /></a>
    </div>
    <div class="grid-item">
      <a data-fancybox="gallery" href="images/gallery/gallery_8.jpg"
        ><img src="images/gallery/gallery_8.jpg"
      /></a>
    </div>
    <div class="grid-item">
      <a data-fancybox="gallery" href="images/gallery/gallery_9.jpg"
        ><img src="images/gallery/gallery_9.jpg"
      /></a>
    </div>
    <div class="grid-item">
      <a data-fancybox="gallery" href="images/gallery/gallery_10.jpg"
        ><img src="images/gallery/gallery_10.jpg"
      /></a>
    </div>
    <div class="grid-item">
      <a data-fancybox="gallery" href="images/gallery/gallery_11.jpg"
        ><img src="images/gallery/gallery_11.jpg"
      /></a>
    </div> 
  </div>
  