@@include('blocks/banner.htm', {"title":"PROTOTYPE & TEST",
"id":"heading_prototype_test"})

<div class="container pt-5 pb-5">
  <div class="row pb-3 d-flex justify-content-between">
    <div class="col-lg-12 d-flex justify-content-center">
      <h3 class="font-weight-normal">
        Using Crazy Eights to Turn Ideation into Prototype
      </h3>
    </div>
  </div>
  <div class="row d-flex justify-content-between">
    <div class="col-md-5 d-flex flex-column justify-content-center">
      <p>
        Every designer created their own sketches for key pages using crazy
        eight method.
      </p>
      <p>Leading by our clients , we rated and selected the parts together.</p>
      <p>
        I felt very honoured that some of my ideas were incorporated into the
        final product.
      </p>
    </div>
    <div class="col-md-4">
      <img class="w-100" src="images/portfolio/gastric/teams.png" />
    </div>
  </div>
  <br />
  <div class="row pt-5 d-flex justify-content-center">
    <div class="col-lg-6">
      <img class="gastric-liane" src="images/portfolio/gastric/liane.png" />
      <img class="gastric-peyton" src="images/portfolio/gastric/peyton.png" />
      <img class="gastric-elliot" src="images/portfolio/gastric/elliot.png" />
      <p class="text-center pt-5 pb-5">
        Once the team had a prototype ready for use, we knew it’s the time to
        test our assumptions
      </p>
      <h3 class="text-center pt-5 pb-5">Usability Test Summary</h3>
      <ul class="pt-5 pb-5">
        <li><p>Moderated remote usability test.</p></li>
        <li><p>3 Participants.</p></li>
        <li><p>Task scenarios tailored for different age groups.</p></li>
      </ul>
    </div>
  </div>
  <br />
  <div class="row pt-5">
    <div class="col-lg-10">
      <div class="bg-large-text">Key</div>
      <br /><br /><br /><br /><br /><br />
      <div class="bg-large-text">Findings</div>
      <br /><br /><br /><br /><br /><br />
      <p>1. The app was intuitive for majority of users.</p>
      <p>
        2. Allowing all age groups understanding the question and terminology is
        critical to success.
      </p>
    </div>
  </div>
  <br />
  <ul>
    <div class="row">
      <div class="col-lg-12">
        <div class="row d-flex justify-content-between">
          <div class="col-md-4">
            <div class="row d-flex justify-content-between">
              <span class="col-md-5">
                <img
                  class="gastric-liane-small"
                  src="images/portfolio/gastric/liane.png"
                />
                <p class="text-center">15 years old</p>
              </span>
              <span class="col-md-5">
                <img
                  class="gastric-peyton-small"
                  src="images/portfolio/gastric/peyton.png"
                />
                <p class="text-center">12 years old</p>
              </span>
            </div>
            <div class="d-flex justify-content-end">
              <span class="col-md-5">
                <img
                  class="gastric-elliot-small"
                  src="images/portfolio/gastric/elliot.png"
                />
                <p class="text-center">6 years old</p></span
              >
            </div>
          </div>
          <div class="col-md-6 h-100">
            <ul class="d-flex justify-content-between flex-column">
              <li class="pt-3 pb-3">
                <p>
                  Two Participants could understand the questions quickly,
                  completing all the tasks.
                </p>
              </li>
              <li class="pt-3 pb-3">
                <p>
                  Peyton was not able to complete any of the tasks unless the
                  question was read to her and explained.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </ul>
</div>
