<div class="container p-5">
  <div class="row" id="heading_brief">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-8">
        <h3 class="d-flex justify-content-center">The brief</h3>
        <p>
          Our client wants to develop a paediatrics version of Alimetryᵀᴹ to
          help doctors diagnose. Gastric Alimetryᵀᴹ technology non-invasively
          senses the motility of the stomach to detect the underlying mechanisms
          of gastric symptoms, informing personalized therapy.
        </p>
        <p>
          The task is to redsigned the severity app for children, aged 5-17
          years. To enable a young person to record gastric symptoms once a day,
          for 7 days before clinic day for further testing.
        </p>
        <p>
          The APP needs to be clear and simple for the little ones to use. The
          information data can be captured and recorded for research analyses.
          The app should be based on the adult version with the same logo and
          branding colour.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="gastric-brief-showcase mt-5 mb-5">
  <div class="gastric-brief-showcase-container container">
    <div class="row" id="heading_brief">
      <div class="col-lg-5">
        <h3 class="gastric-left-section">Gastric Alimetryᵀᴹ</h3>
        <p class="gastric-left-section">
          is a non-invasive device, worn in the comfort of the clinic.<br />
          The device delivers new validated biomarkers of gastric function,
          based on multi-award-winning scientific innovation.
        </p>
      </div>
    </div>
  </div>
  <img src="images/portfolio/gastric/gastric-bg-1.png" />
</div>

<div class="container">
  <div class="row" id="heading_brief">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-8">
        <p class="small">The challenge</p>
        <p>Coping techniques to help kids thrive</p>
        <p>
          <ul>
            <li>Adult app currently not suitable and engaging for paediatric use</li>
            <li>Children struggle to understand how to rate pain severity using a 0-10 scale</li>
            <li>Children find it diificult to understand the difference between all 10 symptoms</li>
<li>Design an app that is engaging for 5-8 age group, but not boring for 9-14 age group</li>
          </ul>
        </p> 
      </div>
    </div>
  </div>
</div>

<div class="gastric-brief-showcase">
  <img src="images/portfolio/gastric/gastric-bg-2.png" />
</div>

<div class="container">
  <div class="row" id="heading_brief">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-8">
        <p>My role</p> 
        <p>There were 4 designers in the team. We had separate roles and some joint tasks.<br/>Using my early childhood education experience, I was able to contribute more to this project, which I really enjoyed.
          I started from research to conduct the first version prototype. 
          I moved on to another project after the first prototype handing over to the developers. The remaining designers continue the user test and iteration.</p>
 
      </div>
    </div>
  </div>
</div>