<div class="container">
  <div class="row" id="heading_purpose">
    <div class="col-lg-6">
      <img src="images/portfolio/9.jpg" alt="" class="img-fluid w-100" />
    </div>

    <div class="col-lg-6">
      <div class="project-info">
        <h3 class="mb-4">Project purpose</h3>
        <p>
          All kids get an occasional stomach ache — think not enough sleep or
          too much Halloween candy. However, when they occur frequently, they
          can be brought on by a variety of factors, including infections,
          bacteria, viruses and anxiety.
        </p>

        <p>
          The diagnosis has never been easy because children find it challenging
          to adequately articulate their symptoms. Even some parents feel
          uncertain on how to address their child’s pain as well.
        </p>

        <div class="row mt-4">
          <div class="col-lg-6">
            <div class="info">
              <h5 class="mb-0">Client</h5>
              <p>NIHI</p>
            </div>

            <div class="info">
              <h5 class="mb-0">Year</h5>
              <p>2022</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="info">
              <h5 class="mb-0">Category</h5>
              <p>Web Design</p>
            </div>
            <div class="info">
              <h5>Role</h5>
              <p>UX/UI Design</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
