@@include('blocks/banner.htm', {"title":"Define", "id":"heading_define"})
<div class="container">
  <div class="row">
    <div class="container">
      <div class="col-lg-12">
        <h4 class="text-center font-weight-normal">Problem Statement ONE</h4>
        <h5 class="text-center font-weight-normal">
          The existing gastric app is being used in adults designed to track and
          rate the severity of their gastric symptoms, however the app is not
          suitable for paediatric use (5-18 years old).
        </h5>
        <h5 class="text-center font-weight-normal">
          Because children have a different level of health literacy, they are
          confused when they see a scale to rate symptoms. They are also bored
          with the lack of engagement within the app.
        </h5>
        <h5 class="text-center font-weight-normal">
          As a result, the child may not fully understand making the ratings
          inaccurate.
        </h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="col-lg-12">
        <h4 class="text-center font-weight-normal">Problem Statement TWO</h4>
        <h5 class="text-center font-weight-normal">
          The current app has no ability to track symptoms in the week leading
          up to clinic day. This is important information as the patient could
          be having a “good” day when they come in for the clinic session.
        </h5>
        <h5 class="text-center font-weight-normal">
          Because of this, the participant tries to recall the symptoms they
          have had for the week and it is more difficult for children to
          remember.
        </h5>
        <h5 class="text-center font-weight-normal">
          As a result, it is unlikely the researcher can get an accurate
          inforamtion during the 7 days leading up to clinic day, so the
          diagnosis may be inaccurate.
        </h5>
      </div>
    </div>
  </div>
</div>
