@@include('blocks/banner.htm', {"title":"FINAL DESIGN",
"id":"heading_final_design"})
<div class="container pt-5 pb-5">
  <div class="text-center row pb-3 d-flex justify-content-between">
    <div class="col-lg-12">
      <h3 class="blue-text font-weight-normal pt-3 pb-3">
        Final design handover
      </h3>
      <p>
        For confidentiality reasons, I am not able to share the whole product.
      </p>
      <p>I'm only releasing some key pages that contain my design concept.</p>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-between pb-5">
  <div class="col-lg-6">
    <img class="w-100" src="images/portfolio/gastric/gastric-group.png" />
  </div>
  <div class="col-lg-4 d-flex flex-column justify-content-center">
    <h4>Keep it simple</h4>
    <p><b>Simplify wording</b></p>
    <ul>
      <li>Use words tailored to the users reading level</li>
      <li>Consider using layman’s terms for medical jargon</li>
    </ul>
    <p>E.g.</p>
    <div class="row d-flex justify-content-start">
      <span class="col-lg-1">
        <img class="tick-sm" src="images/portfolio/gastric/xCircle.png" />
      </span>
      <span class="col-lg-9">
        <p class="text-crossed-out">What symptoms did you experience today?</p>
      </span>
    </div>
    <div class="row d-flex justify-content-start">
      <span class="col-lg-1">
        <img class="tick-sm" src="images/portfolio/gastric/tick.png" />
      </span>
      <span class="col-lg-9">
        <p>How did you feel today?</p>
      </span>
    </div>
    <div class="row d-flex justify-content-start">
      <span class="col-lg-1">
        <img class="tick-sm" src="images/portfolio/gastric/xCircle.png" />
      </span>
      <span class="col-lg-9"> <p class="text-crossed-out">Continue</p> </span>
    </div>

    <div class="row d-flex justify-content-start">
      <span class="col-lg-1">
        <img class="tick-sm" src="images/portfolio/gastric/tick.png" />
      </span>
      <span class="col-lg-9">
        <p>Ok</p>
      </span>
    </div>

    <div class="row d-flex justify-content-start">
      <span class="col-lg-1">
        <img class="tick-sm" src="images/portfolio/gastric/xCircle.png" />
      </span>
      <span class="col-lg-9"> <p class="text-crossed-out">Nausea</p></span>
    </div>

    <div class="row d-flex justify-content-start">
      <span class="col-lg-1">
        <img class="tick-sm" src="images/portfolio/gastric/tick.png" />
      </span>
      <span class="col-lg-9">
        <p>Feeling sick</p>
      </span>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-center pb-5">
  <div class="col-lg-10 d-flex justify-content-between">
    <div class="col-lg-5">
      <h4>Keep it intuitive</h4>
      <ul>
        <li class="pt-3 pb-3"><b>Visualizing severity rating</b></li>
        <p>
          The symptoms page is the most challenging since young children are
          unable to rate pain severity using numbers.
          <br />
          All designers shared similar thoughts on using emoji
          <span class="bd-highlight">faces to represent the scales 0 -10.</span>
          But the main difference of my design is that I placed the rating bar
          <span class="bd-highlight">vertically</span> rather than horizontally.
        </p>
        <li class="pt-3 pb-3"><b>Matching the real world</b></li>
        <p>
          As my experience in ECE, toddlers can understand the concept of high
          and low. So I suggested to place the rating bar
          <span class="bd-highlight">vertically</span>. It is easier for
          children to understand that dragging up means a high rating because in
          the real world they know up means high.
        </p>
        <li class="pt-3 pb-3"><b>More accurate results for older kids</b></li>
        <p>
          I also kept the numbers besides, for those older kids who can rate
          severity more precisely by using numbers.
        </p>
        <li class="pt-3 pb-3"><b>Adding voice guidance by audio play</b></li>
        <p>Critical for the youngest age groups to be able to use the app.</p>
      </ul>
    </div>
    <div
      class="col-lg-3 d-flex flex-column justify-content-center align-items-center"
    >
      <img class="w-100" src="images/portfolio/gastric/heartburn.png" />
    </div>
  </div>
</div>

<div class="row d-flex justify-content-center">
  <div class="col-lg-10 d-flex justify-content-between">
    <div
      class="col-lg-3 d-flex flex-column justify-content-center align-items-center"
    >
      <img class="w-100" src="images/portfolio/gastric/gastric-rewards.png" />
    </div>
    <div
      class="col-lg-5 d-flex flex-column justify-content-center align-items-center"
    >
      <div><h4>Making each recording a reward</h4></div>

      <p>
        My idea was once the kids completed their recording, there will be a
        monster show up on the screen.
        <br />
        So in this way makes this repeated recording task more
        <span class="bd-highlight">fun and keeps kids returning</span>
        to unlock the next monster..
      </p>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-center">
  <div class="col-lg-10 d-flex justify-content-between">
    <div
      class="col-lg-5 d-flex flex-column justify-content-center align-items-center"
    >
      <h4>Illustrations</h4>
      <p>
        The client adapted the illustrations I edited. It was created by
        illustrator Ayesha Rana, a funky set of illustrations full of the cutest
        and most colourful creatures. I blend the brand’s primary and secondary
        blue in.
      </p>
    </div>
    <div
      class="col-lg-3 d-flex flex-column justify-content-center align-items-center"
    >
      <img
        class="w-100"
        src="images/portfolio/gastric/gastric-illustration.png"
      />
    </div>
  </div>
</div>

<div class="grey-container">
  <h3 class="text-center">Symptom Page Before & After</h3>
  <h3 class="text-center font-weight-normal pt-3 pb-3">Adult’s version</h3>
  <div
    class="d-flex align-items-center justify-content-center gastric-prev-image w-100"
  >
    <img src="images/portfolio/gastric/gastric-excessive.png" />
  </div>
  <div
    class="d-flex align-items-center justify-content-center gastric-downward w-100"
  >
    <img src="images/portfolio/gastric/gastric-downward.png" />
  </div>
  <h3 class="text-center font-weight-normal pt-3 pb-3">Kid’s version One</h3>
  <div
    class="d-flex align-items-center justify-content-center gastric-next-image w-100"
  >
    <div class="gastric-symptom-first-section">
      <h4>Audio play read and explain to the youngest</h4>
      <img src="images/portfolio/gastric/dash-line.png" />
    </div>
    <div class="gastric-symptom-second-section">
      <h4>The image was intended to minimise racial and gender exclusion</h4>
      <img src="images/portfolio/gastric/dash-line.png" />
    </div>
    <div class="gastric-symptom-third-section">
      <img src="images/portfolio/gastric/dash-line.png" />

      <h4>Placing the rating bar vertically</h4>
    </div>
    <div class="gastric-symptom-fourth-section">
      <img src="images/portfolio/gastric/dash-line.png" />

      <h4>Visualizing severity rating by emoji faces</h4>
    </div>
    <div class="gastric-symptom-fifth-section">
      <img src="images/portfolio/gastric/dash-line.png" />

      <h4>
        More accurate results for older kids by keeping the numbers beside
      </h4>
    </div>
    <img src="images/portfolio/gastric/heartburn.png" />
  </div>
</div>

<div class="blue-container">
  <div class="row">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-6">
        <div class="container d-flex justify-content-center">
          <small class="text-center">what I learned</small>
        </div>
        <h3
          id="pb_heading_reflection"
          class="text-center font-weight-normal p-3"
        >
          Reflection
        </h3>
        <br />
        <ul>
          <li>Overcoming user research and testing constraints</li>
          <p>
            One challenge I encountered in this project was how to empathize and
            validate hypotheses without access to real users.
          </p>
          <p>
            Despite being a little disappointed at first, I quickly realized
            that this was a learning opportunity, because I believe it is not
            unusual that a project may have limitations like tight budgets or
            deadlines.
          </p>
          <p>
            To overcome this problem, I first conducted internal research by
            asking for documents of gastric symptoms, adult version prototype,
            and its user test results. I then conducted secondary research by
            browsing the web looking for UX design rules for kids.
          </p>
          <p>
            All the research allowed me to stand on the shoulders of giants.
          </p>
          <li>Collaboration is the key to great results</li>
          <p>
            This project was entirely collaborative, meaning every part of our
            final product came from input from each other, our diligent
            developers, and the professional feedback of PhDs and professors.
          </p>
        </ul>
      </div>
    </div>
  </div>
</div>
