@@include('blocks/banner.htm', {"title":"Empathize", "id":"heading_empathize"})

<div class="gastric-empathize-appexample">
  <img src="images/portfolio/gastric/appexample.png" />
</div>
<div class="gastric-empathize-appexample">
  <div class="pt-5 pb-5">
    <div class="gastric-empathize-appexample-content">
      <h3 class="font-weight-normal pt-5 pb-5">Internal research</h3>
      <p>
        By reading the given documents and adult app prototype, we get to know
        that Gastric Alimetryᵀᴹ is a non-invasive device that is worn in the
        clinic.
      </p>
      <p>
        The device delivers new validated biomarkers of gastric function, based
        on multi-award-winning scientific innovation.
      </p>
      <p>
        When combined with the recording of symptoms and feelings via the app,
        the Gastric Alimetryᵀᴹ technology aids in diagnosing and therapy.
      </p>
    </div>
  </div>
</div>

<div class="container p-5">
  <div class="row">
    <div class="col-lg-7">
      <img
        class="gastric-whiteboard"
        src="images/portfolio/gastric/whiteboard.png"
      />
    </div>
    <div class="col-lg-5 gastric-whiteboard-content">
      <h3 class="font-weight-normal blue-text pt-3 pb-5">
        Stakeholder interview
      </h3>
      <p>
        In order to identify key goals and gather context and history. We
        facilitated a stakeholder interview.
      </p>
      <p>
        After the interview, we had a clearer vision of the goal and a better
        understanding of the current app.
      </p>
      <p>Then we listed the pain points together.</p>
      <p>Developed a three-week plan using a Trello board.</p>
    </div>
  </div>
</div>

<div class="container pt-5">
  <div class="row">
    <div class="container">
      <div class="col-lg-12">
        <h3 class="text-center blue-text font-weight-normal pt-5 pb-5">
          Secondary Research
        </h3>
        <h5 class="text-center font-weight-normal pb-4">
          Consider physical & cognitive ability
        </h5>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-between">
    <div class="col-lg-4 secondary-section">
      <p class="p-3">
        As an ECE teacher before, I noticed children in pre-school age can do
        some simple clicks but are more into dragging or sliding. Children's
        fine motor skills and cognitive development vary in thier early stages.
      </p>
      <p class="p-3">
        So I led a secondary research regarding children’s physical & cognitive
        capability towards using mobiles or tablets.
      </p>
    </div>
    <div class="col-lg-7">
      <img class="w-100" src="images/portfolio/gastric/gastric-bg-3.png" />
    </div>
  </div>
</div>

<div class="container pt-5">
  <div class="row" id="heading_brief">
    <div class="container">
      <div class="col-lg-12">
        <h5 class="text-center font-weight-normal pt-5 pb-4">
          Overcoming user research and testing constraints
        </h5>
        <p>
          The real users are children with gastric symptoms. But we've been told
          we were unable to run any tests with these kids. So the first
          challenge I encountered was how to empathise with users and validate
          hypothesis without access to real users ?
        </p>
        <p>
          To overcome the challenge, we first conducted external secondary
          research. We looked for academic journals, websites, articles, and
          videos in order to collect information about UX practice for children.
        </p>
        <p>
          We also decide to look for normal children to conduct usability tests.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 pt-5 pb-4">
      <img
        class="full-width-image"
        src="images/portfolio/gastric/gastric-bg-4.png"
      />
    </div>
  </div>
</div>

<div class="container pt-5">
  <div class="row" id="heading_brief">
    <div class="container">
      <div class="col-lg-12">
        <h4 class="text-center font-weight-normal pt-5 pb-5">
          An Interesting finding for the next version
        </h4>
        <p>
          At first, I only knew that designing for children should consider fine
          motor skills and cognitive capability from my own experience.
        </p>
        <p>
          But with more research, there is a consistent finding of the need to
          target very narrow age groups when designing for children. There's no
          such thing as "designing rules for children," defined as everybody for
          all age ranges.
        </p>
        <p>
          Each group has different behaviours and physical and cognitive
          capabilities. Young users reacted negatively to content designed for
          children who were even one school grade below or above their own level
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 text-center">
      <img
        class="fixed-width-image"
        src="images/portfolio/gastric/gastric-bg-5.png"
      />
      <p class="text-center pt-3 pb-3">
        Other Design concepts for Health trackers
      </p>
    </div>
    <div class="col-lg-6 text-center">
      <img
        class="fixed-width-image"
        src="images/portfolio/gastric/gastric-bg-6.png"
      />
      <p class="text-center pt-3 pb-3">Health app for kids</p>
    </div>
  </div>
</div>
