<div
  class="gastric-intro"
  style="
    width: 100%;
    height: 700px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('images/portfolio/gastric/gastricbg.png');
  "
>
  <div class="row">
    <div class="col-md-4 left-section">
      <h3>Gastric Alimetryᵀᴹ For Kids</h3>
      <h4>Helping Diagnose Paediatrics Upper GIF Functional Disorder</h4>
      <small
        >I have omitted confidential information in this case study.
      </small>
    </div>
  </div>
</div>
