@@include('blocks/banner.htm', {"title":"Empathize", "id":"heading_empathize"})

<div class="container pt-5">
  <div class="row">
    <div class="container">
      <div class="col-lg-12">
        <h4 class="text-center font-weight-normal pt-5 pb-5">Research 1</h4>
        <h5 class="text-center font-weight-normal pb-4">
          Consdier physical & cognitive ability
        </h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5">
      <p>
        As an ECE teacher before, I noticed children in pre-school age can do
        some simple clicks but are more into dragging or sliding. Children's
        fine motor skills and cognitive development vary in thier early stages.
      </p>
    </div>
    <div class="col-lg-7">
      <img src="images/portfolio/gastric/gastric-bg-3.png" />
    </div>
  </div>
</div>

<div class="container pt-5">
  <div class="row" id="heading_brief">
    <div class="container">
      <div class="col-lg-12">
        <h4 class="text-center font-weight-normal pt-5 pb-5">Research 2</h4>
        <h5 class="text-center font-weight-normal pb-4">
          UX design practice for children
        </h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <img
        class="full-width-image"
        src="images/portfolio/gastric/gastric-bg-4.png"
      />
    </div>
  </div>
</div>

<div class="container pt-5">
  <div class="row" id="heading_brief">
    <div class="container">
      <div class="col-lg-12">
        <h4 class="text-center font-weight-normal pt-5 pb-5">Research 3</h4>
        <h5 class="text-center font-weight-normal pb-4">
          In addition, we did a competitor analysis, but there is not many
          similar apps on the market. So we expanded the research range to
          health rating apps and children using health apps.
        </h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 text-center">
      <img
        class="fixed-width-image"
        src="images/portfolio/gastric/gastric-bg-5.png"
      />
      <p class="text-center pt-3 pb-3">
        Other Design concepts for Health trackers
      </p>
    </div>
    <div class="col-lg-6 text-center">
      <img
        class="fixed-width-image"
        src="images/portfolio/gastric/gastric-bg-6.png"
      />
      <p class="text-center pt-3 pb-3">Health app for kids</p>
    </div>
  </div>
</div>
