<div class="container p-5">
  <div class="row" id="heading_brief">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-6">
        <h3 class="d-flex pt-5 pb-3">The brief</h3>
        <p>
          Our client wants to develop a paediatrics version of Alimetryᵀᴹ to
          help doctors diagnose. Gastric Alimetryᵀᴹ technology non-invasively
          senses the motility of the stomach to detect the underlying mechanisms
          of gastric symptoms, informing personalized therapy.
        </p>
        <p>
          The task is to design and build a paediatrics version of Alimetryᵀᴹ app. To enable children, aged 5 -17 years, to record gastric symptoms once a day, for 7 days before clinic day .
        </p>
        <p>
          The adult Alimetryᵀᴹ app is only for recording symptoms on the clinic day, the task needs to add a new user flow of symptom tracking for 7 days, as it gives a more accurate picture over time.
        </p>
      </div>
    </div>
  </div>
  <div class="row" id="heading_brief">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-6">
        <h3 class="d-flex pt-5 pb-3">Key Goal</h3>
        <p>
          <b>
          Converting the existing adult version app to a children's version, with a new 7 days tracking user flow.  
          </b>
        </p>
        <p>
          The aim is to capture and record data for research analyses and in the end helping to diagnose and inform personalized therapy.
        </p>
        <p>
          The APP needs to be clear and simple for the little ones to use. The UI design should be based on the adult version with the same logo and branding colour.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="gastric-brief-showcase mt-5 mb-5">
  <div class="gastric-brief-showcase-container container">
    <div class="row" id="heading_brief">
      <div class="col-lg-7">
        <h2 class="gastric-left-section font-weight-light">Gastric Alimetryᵀᴹ</h2>
      </div>
    </div>
  </div>
  <img src="images/portfolio/gastric/gastric-bg-1.png" />
</div>

<div class="container pt-5 pb-5">
  <div class="row" id="heading_brief">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-6">        
        <img class="gastric-brief-image" src="images/portfolio/gastric/WormiesFin.png">
        <p class="small">The challenge</p>
        <h3>Coping techniques to help kids thrive</h3>
        <p>
          <ul>
            <li>Adult app currently not suitable and engaging for paediatric use</li>
            <li>Children struggle to understand how to rate pain severity using a 0-10 scale</li>
            <li>Children find it diificult to understand the difference between all 10 symptoms</li>
            <li>Design an app that is engaging for 5-8 age group, but not boring for 9-14 age group</li>
          </ul>
        </p> 
      </div>
    </div>
  </div>
</div>

<div class="gastric-brief-prototype">
  <img src="images/portfolio/gastric/8.jpg" />
</div>


<div class="container pt-5 pb-5">
  <div class="row" id="heading_brief">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-6">
        <p class="small">The impact</p>
        <h3>A positive start...and still Day One</h3>
        <p>
          <ul>
            <li>After completing the initial version, I moved on to a new project. However, I later found out from my colleagues that the first version of our product was being used by specialists and PhDs, with over two dozen paediatric patients benefiting from it.</li>
            <li>While our clients were pleased with the valuable data collected, issues were also identified, including the need to redesign the admin dashboard and accommodate the varying needs of older and younger children.</li>  
          </ul>
        </p> 
      </div>
    </div>
  </div>
</div>

<!-- <div class="gastric-brief-showcase">
  <img src="images/portfolio/gastric/gastric-bg-2.png" />
</div>

<div class="container pt-5 pb-5">
  <div class="row" id="heading_brief">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-6">
        <p>My role</p> 
        <p>There were 4 designers in the team. We had separate roles and some joint tasks.<br/>Using my early childhood education experience, I was able to contribute more to this project, which I really enjoyed.
          I started from research to conduct the first version prototype. 
          I moved on to another project after the first prototype handing over to the developers. The remaining designers continue the user test and iteration.
        </p>
      </div>
    </div>
  </div>
</div> -->