<div
  class="gastric-intro"
  style="
    width: 100%;
    height: 900px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('images/portfolio/gastric/gastricbg.png');
  "
>
  <div class="row">
    <div class="col-md-5 left-section">
      <br /><br /><br />
      <h2 class="pt-5 pb-5">Gastric Alimetryᵀᴹ For Kids</h2>
      <h4>
        Helping Diagnose Paediatrics <br />
        Upper GIF Functional Disorder
      </h4>
      <small
        >I have omitted confidential information in this case study.
      </small>
    </div>
  </div>
</div>
