<div class="row" id="heading_brief">
  <div class="container d-flex justify-content-center">
    <div class="col-lg-8">
      <h3 class="d-flex justify-content-center">The brief</h3>
      <p>
        Our client wants to develop a paediatrics version of Alimetryᵀᴹ to help
        doctors diagnose. Gastric Alimetryᵀᴹ technology non-invasively senses
        the motility of the stomach to detect the underlying mechanisms of
        gastric symptoms, informing personalized therapy.
      </p>
      <p>
        The task is to redsigned the severity app for children, aged 5-17 years.
        To enable a young person to record gastric symptoms once a day, for 7
        days before clinic day for further testing.
      </p>
      <p>
        The APP needs to be clear and simple for the little ones to use. The
        information data can be captured and recorded for research analyses. The
        app should be based on the adult version with the same logo and branding
        colour.
      </p>
    </div>
  </div>
</div>
