@@include('blocks/banner.htm', {"title":"Define", "id":"heading_define"})
<div class="container pt-5 pb-5">
  <div class="row pb-5 d-flex justify-content-between">
    <div class="col-lg-4 d-flex flex-column justify-content-center">
      <p>
        Combined all the pain points we listed together, we surmised as a
        problem statement.
      </p>
    </div>
    <div class="col-lg-6">
      <img
        class="w-100"
        src="images/portfolio/gastric/gastric-define-image.png"
      />
    </div>
  </div>
  <div class="row">
    <div class="container pt-3 pb-5">
      <div class="col-lg-10 d-flex flex-column align-items-center">
        <h3 class="text-center font-weight-normal pt-3 pb-3">
          Problem Statement
        </h3>
        <div class="highlight-section">
          <img src="images/portfolio/gastric/arrow.png" />
          <p>
            The existing gastric app is used by adults to track and rate the
            severity of their gastric symptoms; however, it is not suitable for
            use by children (5 – 18 years old). The current app is only for use
            at the clinic, it has no ability to track symptoms in the week
            leading up to clinic day
          </p>
        </div>
        <div class="highlight-section">
          <img src="images/portfolio/gastric/arrow.png" />
          <p>
            Because children have a different level of health literacy, they may
            not understand the ratings, making them inaccurate. Without keeping
            track of seven days, the participants must recall the symptoms they
            experienced during the week, which is more difficult for children to
            do.
          </p>
        </div>
        <div class="highlight-section">
          <img src="images/portfolio/gastric/arrow.png" />
          <p>
            As a result, it is unlikely the researcher can get accurate
            information during the 7 days leading up to clinic day, so the
            diagnosis may be inaccurate.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grey-bg pt-5 pb-5">
  <p class="text-center small pt-3 pb-3">Who are we designing for</p>
  <h3 class="text-center">Personal</h3>
  <div class="carousel-container">
    <div class="carousel-imgs">
      <img
        src="images/portfolio/gastric/gastric-personal-1.png"
        class="carousel-img visible"
      />
      <img
        src="images/portfolio/gastric/gastric-personal-2.jpg"
        class="carousel-img hidden"
      />
    </div>
    <a class="prev arrow">&#10094;</a>
    <a class="next arrow">&#10095;</a>
    <div class="slide-numbers">
      <span class="dot active"></span>
      <span class="dot"></span>
    </div>
  </div>
</div>
