@@include('blocks/banner.htm', {"title":"PROTOTYPE & TEST",
"id":"heading_prototype_test"})

<div class="container pt-5 pb-5">
  <div class="row pb-3 d-flex justify-content-between">
    <div class="col-lg-12 d-flex justify-content-center">
      <h3 class="font-weight-normal">
        Using Crazy Eights to Turn Ideation into Prototype
      </h3>
    </div>
  </div>
  <div class="row d-flex justify-content-between">
    <div class="col-md-5 d-flex flex-column justify-content-center">
      <p>
        Every designer created their own sketches for key pages using crazy
        eight method.
      </p>
      <p>Leading by our clients , we rated and selected the parts together.</p>
      <p>
        I felt very honoured that some of my ideas were incorporated into the
        final product.
      </p>
    </div>
    <div class="col-md-4">
      <img class="w-100" src="images/portfolio/gastric/teams.png" />
    </div>
  </div>
  <br />
  <div class="row pt-5 d-flex justify-content-center">
    <div class="col-lg-6">
      <img class="gastric-liane" src="images/portfolio/gastric/liane.png" />
      <img class="gastric-peyton" src="images/portfolio/gastric/peyton.png" />
      <img class="gastric-elliot" src="images/portfolio/gastric/elliot.png" />
      <p class="text-center pt-5 pb-5">
        Once the team had a prototype ready for use, we knew it’s the time to
        test our assumptions
      </p>
      <h3 class="text-center pt-5 pb-5">Usability Test Summary</h3>
      <ul class="pt-5 pb-5">
        <li><p>Moderated remote usability test.</p></li>
        <li><p>3 Participants.</p></li>
        <li><p>Task scenarios tailored for different age groups.</p></li>
      </ul>
    </div>
  </div>
  <br />
  <div class="row pt-5">
    <div class="col-lg-10">
      <div class="bg-large-text">Key</div>
      <br /><br /><br /><br /><br /><br />
      <div class="bg-large-text">Findings</div>
      <br /><br /><br /><br /><br /><br />
      <p>1. The app was intuitive for majority of users.</p>
      <p>
        2. Allowing all age groups understanding the question and terminology is
        critical to success.
      </p>
    </div>
  </div>
  <br />
  <ul>
    <div class="row">
      <div class="col-lg-12">
        <div class="row d-flex justify-content-between">
          <div class="col-md-4">
            <div class="row d-flex justify-content-between">
              <span class="col-md-5">
                <img
                  class="gastric-liane-small"
                  src="images/portfolio/gastric/liane.png"
                />
                <p class="text-center">15 years old</p>
              </span>
              <span class="col-md-5">
                <img
                  class="gastric-peyton-small"
                  src="images/portfolio/gastric/peyton.png"
                />
                <p class="text-center">12 years old</p>
              </span>
            </div>
            <div class="d-flex justify-content-end">
              <span class="col-md-5">
                <img
                  class="gastric-elliot-small"
                  src="images/portfolio/gastric/elliot.png"
                />
                <p class="text-center">6 years old</p></span
              >
            </div>
          </div>
          <div class="col-md-6 h-100">
            <ul class="d-flex justify-content-between flex-column">
              <li class="pt-3 pb-3">
                <p>
                  Two Participants could understand the questions quickly,
                  completing all the tasks.
                </p>
              </li>
              <li class="pt-3 pb-3">
                <p>
                  Peyton was not able to complete any of the tasks unless the
                  question was read to her and explained.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </ul>
  <div class="row">
    <div class="col-lg-12 pb-5">
      <p>3. Different age group using rating method diffidently.</p>
      <p class="small">
        Older age groups only used the numbers, while young age only used image
        on the slider bar.
      </p>
    </div>
  </div>
  <div class="row pb-5">
    <div class="col-lg-12 d-flex justify-content-between">
      <div class="col-lg-4 d-flex justify-content-between">
        <div
          class="w-100 d-flex flex-column align-items-center justify-content-between"
        >
          <img
            class="gastric-liane-small"
            src="images/portfolio/gastric/liane.png"
          />
          <p class="text-center">6 years old</p>
        </div>
        <div class="d-flex flex-column justify-content-end pb-3">
          <img
            class="gastric-review-img"
            src="images/portfolio/gastric/123.png"
          />
        </div>
      </div>
      <div class="col-lg-4 d-flex justify-content-between">
        <div
          class="w-100 d-flex flex-column align-items-center justify-content-between"
        >
          <img
            class="gastric-peyton-small"
            src="images/portfolio/gastric/peyton.png"
          />
          <p class="text-center">6 years old</p>
        </div>
        <div class="d-flex flex-column justify-content-end pb-3">
          <img
            class="gastric-review-img-full"
            src="images/portfolio/gastric/Smiley123.png"
          />
        </div>
      </div>
      <div class="col-lg-4 d-flex justify-content-between">
        <div
          class="w-100 d-flex flex-column align-items-center justify-content-between"
        >
          <img
            class="gastric-elliot-small"
            src="images/portfolio/gastric/elliot.png"
          />
          <p class="text-center">6 years old</p>
        </div>
        <div class="d-flex flex-column justify-content-start pt-3">
          <img
            class="gastric-review-img-round"
            src="images/portfolio/gastric/Smiley.png"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 pb-5">
      <h3 class="text-center pt-5 pb-5">Iterations On Current Version</h3>
      <ul class="lh-lg">
        <li>Simplify more wordings</li>
        <li>Provide more guidance & support</li>
        <li><b>Adding voice guidance</b></li>
      </ul>
    </div>
  </div>
  <div class="row pb-5">
    <div class="col-lg-12">
      <h3 class="text-center pt-5 pb-5">Key Suggestion For Next Version</h3>
      <h4 class="text-center font-weight-light pb-3">
        Design different versions of the app for different age groups
      </h4>
      <div class="row d-flex justify-content-start">
        <span class="col-lg-1">
          <img class="tick-lg" src="images/portfolio/gastric/tick.png" />
        </span>
        <span class="col-lg-9">
          <p>
            I would recommend having two versions for age 5 - 8 and age 9 -17.
            Our results of secondary research from the field would be helpful to
            give this idea more direction.
          </p>
        </span>
      </div>
    </div>
  </div>
</div>
