<section class="portfolio">
  <div
    data-bs-spy="scroll"
    data-bs-target="#navbar-gastic"
    data-bs-offset="0"
    tabindex="0"
  >
    @@include('blocks/gastric/gastric-intro.htm')
    @@include('blocks/gastric/gastric-purpose.htm')
    @@include('blocks/gastric/gastric-brief.htm')
    @@include('blocks/gastric/gastric-empathize.htm')
    @@include('blocks/gastric/gastric-define.htm')
    @@include('blocks/gastric/gastric-ideation.htm')
    @@include('blocks/gastric/gastric-prototype.htm')
    @@include('blocks/gastric/gastric-final-design.htm')
    <div class="row" id="heading_final_design"></div>
    <div class="row mt-5 justify-content-center">
      <div class="col-lg-6 text-center">
        <a href="lumina.html" class="btn btn-dark">Previous Work</a>
        <a href="pbtech.html" class="btn btn-dark">Next Work</a>
      </div>
    </div>
  </div>
</section>
