.about-info {
  h3 {
    margin-top: 15px;
  }
}

.progress-bar-content {
  margin-bottom: 25px;

  .progress-title {
    text-transform: capitalize;
    font-size: 14px;
    color: $black;
    font-weight: 600;
  }

  .progress-label {
    margin-bottom: 15px;
  }
  .progress-bar {
    background: $black;
  }

  .progress-bar-units {
    color: $black;
  }
}

.about-list {
  line-height: 40px;
  li {
    text-transform: capitalize;
    color: $black;
  }
}
.outside-section {
  background: #fdf9f2;
}
.profile-image {
  max-width: 300px;
}

.profile {
  background: #fdf9f2;
}

.personal-image {
  width: 300px;
}

.color-indicator {
  position: absolute;
  left: -10px;
  width: 6px;
  height: 40px;
}

.color-indicator.pink {
  background: #ff7676;
}

.color-indicator.brown {
  background: #aba08f;
}

.color-indicator.grey {
  background: #8b949d;
}

.color-indicator.blue {
  background: #466a8b;
}

.about-me-section {
  img {
    border-radius: 16px;
  }
}

@include mobile {
  .cta {
    padding-bottom: 0px;
  }
}

@include mobile-xs {
  .cta {
    padding-bottom: 0px;
  }
}

@include tablet {
  .cta {
    padding-bottom: 0px;
  }
}
