.gastric-brief-showcase {
  width: 100%;
  position: relative;
  img {
    width: 100%;
  }
  .gastric-brief-showcase-container {
    position: absolute;
    top: 30px;
    h2 {
      color: white;
    }
    p {
      color: white;
    }
  }
}

.gastric-left-section {
  padding: 64px 0 0 108px;
}

.grey-bg {
  background: #e6eff3;
}

.gastric-intro {
  h2 {
    color: white;
  }
  h4 {
    color: white;
    line-height: 2;
  }
  small {
    color: white;
  }
}

.gastric-brief-prototype {
  background: #f7f7f6;
  img {
    width: 100%;
  }
}

.gastric-brief-image {
  width: 90px;
  position: absolute;
  left: -100px;
}

.gastric-empathize-appexample {
  background: #868c8f;
  display: flex;
  justify-content: center;
  img {
    max-width: 1000px;
    @media (max-width: 1000px) {
      width: 100%;
    }
  }
  &-content {
    max-width: 700px;
    h3 {
      color: #fff;
    }
    p {
      color: #fff;
    }
  }
}

.gastric-gallery-set {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
  }
  h3 {
    margin-top: -30px;
  }
}

.gastric-whiteboard {
  width: 100%;
}

.gastric-whiteboard-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondary-section {
  background: #f6f7f9;
  border-radius: 10px;
}

.gastric-analysis {
  background: #f6f7f9;
}

.gastric-liane {
  width: 260px;
  position: absolute;
  left: -200px;
  &-small {
    width: 180px;
  }
}

.gastric-peyton {
  width: 260px;
  position: absolute;
  right: -200px;
  top: 200px;
  &-small {
    width: 180px;
  }
}

.gastric-elliot {
  width: 260px;
  position: absolute;
  left: -230px;
  top: 300px;
  &-small {
    width: 180px;
  }
}
