.gastric-brief-showcase {
  width: 100%;
  position: relative;
  img {
    width: 100%;
  }
  .gastric-brief-showcase-container {
    position: absolute;
    top: 30px;
    h3 {
      color: white;
    }
    p {
      color: white;
    }
  }
}

.gastric-left-section {
  padding: 16px;
}

.grey-bg {
  background: #e6eff3;
}
