<section class="portfolio">
  <div
    data-bs-spy="scroll"
    data-bs-target="#navbar-pbtech"
    data-bs-offset="0"
    tabindex="0"
  ></div>
  @@include('blocks/pbtech/pbtech-purpose.htm')
  @@include('blocks/pbtech/pbtech-background.htm')
  @@include('blocks/pbtech/pbtech-problems.htm')
  @@include('blocks/pbtech/pbtech-outcome.htm')
  @@include('blocks/pbtech/pbtech-highlight.htm')
  @@include('blocks/pbtech/pbtech-highlight-2.htm')
  @@include('blocks/pbtech/pbtech-highlight-3.htm')
  @@include('blocks/pbtech/pbtech-highlight-4.htm')
  @@include('blocks/pbtech/pbtech-highlight-5.htm')
  @@include('blocks/pbtech/pbtech-design-process.htm')
  @@include('blocks/pbtech/pbtech-discover-title.htm')
  @@include('blocks/pbtech/pbtech-discover-product.htm')
  @@include('blocks/pbtech/pbtech-discover-experience.htm')
</section>
