<section class="portfolio">
  <div
    data-bs-spy="scroll"
    data-bs-target="#navbar-pbtech"
    data-bs-offset="0"
    tabindex="0"
  ></div>
  @@include('blocks/pbtech/pbtech-purpose.htm')
  @@include('blocks/pbtech/pbtech-background.htm')
  @@include('blocks/pbtech/pbtech-problems.htm')
  @@include('blocks/pbtech/pbtech-outcome.htm')
  <!-- Highlight -->
  @@include('blocks/pbtech/pbtech-highlight.htm')
  @@include('blocks/pbtech/pbtech-highlight-2.htm')
  @@include('blocks/pbtech/pbtech-highlight-3.htm')
  @@include('blocks/pbtech/pbtech-highlight-4.htm')
  @@include('blocks/pbtech/pbtech-highlight-5.htm')
  <!-- Discover -->
  @@include('blocks/pbtech/pbtech-design-process.htm')
  @@include('blocks/pbtech/pbtech-discover-title.htm')
  @@include('blocks/pbtech/pbtech-discover-product.htm')
  @@include('blocks/pbtech/pbtech-discover-experience.htm')
  @@include('blocks/pbtech/pbtech-discover-behaviours.htm')
  <!-- Define -->
  @@include('blocks/pbtech/pbtech-define-title.htm')
  @@include('blocks/pbtech/pbtech-define-insight.htm')
  @@include('blocks/pbtech/pbtech-define-examples.htm')
  <!-- Ideate -->
  @@include('blocks/pbtech/pbtech-ideate-title.htm')
  @@include('blocks/pbtech/pbtech-ideate-process.htm')
  <!-- Prototype -->
  @@include('blocks/pbtech/pbtech-prototype-title.htm')
  @@include('blocks/pbtech/pbtech-prototype-content.htm')
</section>
