<div class="pbtech-ideate-process">
  <div class="text-center">
    <img src="images/portfolio/pbtech/school.png" />
  </div>
  <div class="row">
    <div class="container d-flex justify-content-center p-3">
      <div class="col-lg-10">
        <h3 class="text-center font-weight-normal blue-text pt-5">
          Using <span class="font-italic">“How Might We”</span> Questions to
          Turn Insights into Opportunities
        </h3>
        <h6 class="text-center font-weight-normal p-3">One selected example</h6>
        <h4 class="text-center font-weight-normal font-italic pb-5">
          "How might we help users select the right laptop easily?"
        </h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container d-flex justify-content-between p-3">
      <div class="col-lg-5">
        <h5 class="pb-3">1. Brainstorming</h5>
        <p>
          I organised a brainstorming session first and collaborated with three
          developers.
        </p>
        <p>It is better to know the feasibility at the early stage.</p>
        <p>It also helps us to build consensus with the developers.</p>
      </div>
      <div class="col-lg-5">
        <p class="text-center">working as a team</p>
        <div class="pbtech-discover-behaviours-image">
          <img src="images/portfolio/pbtech/IdeationSession1.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="container d-flex justify-content-between p-3">
      <div class="col-lg-5">
        <h5 class="pb-3">2. Where the idea of a quiz came from?</h5>
        <p>
          We found an article on the landing page, which guides users how to
          select a laptop step by step.
        </p>
        <p>However, none of the users discovered it, not to mention read it.</p>
        <p>
          During brainstorming, I came up with the idea of converting this guide
          into a quiz with simple steps, because few people would read through
          such a long article.
        </p>
      </div>
      <div class="col-lg-5">
        <div class="pbtech-discover-behaviours-image">
          <img src="images/portfolio/pbtech/IdeationSession2.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="container d-flex justify-content-between">
      <div class="col-lg-5">
        <h5 class="pb-3">3. Testing</h5>
        <p>
          I tested and discovered that if we designed the quiz into three steps:
        </p>
        <p>Purposes ---> OS ---> Size</p>
        <p>It would narrow down the number of search results by around 90%.</p>
      </div>
      <div class="col-lg-5">
        <div class="pbtech-discover-behaviours-image">
          <img src="images/portfolio/pbtech/IdeationSession3.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="container d-flex justify-content-between">
      <div class="col-lg-12">
        <h5 class="pb-3">4. User flow</h5>
        <p>
          Before we turned it into a prototype, we made a user flow for this new
          feature.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container d-flex justify-content-between">
      <div class="col-lg-12">
        <div class="pbtech-discover-behaviours-image">
          <img src="images/portfolio/pbtech/IdeationSession4.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
