<div class="container">
  <div class="row" id="heading_purpose">
    <div class="col-lg-12">
      <div class="project-info">
        <div class="row mt-4">
          <div class="col-lg-3">
            <div class="info">
              <h5 class="mb-0">My Team</h5>
              <p>2 Designers</p>
              <p>3 Developers</p>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="info">
              <h5 class="mb-0">My Role</h5>
              <p>UX Researcher</p>
              <p>Design Strategy</p>
              <p>Usability Test</p>
              <p>UI Design</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="info">
              <h5 class="mb-0">Tool Used</h5>
              <p>Tool Used</p>
              <p>Figma</p>
              <p>Photoshop</p>
              <p>FigJam</p>
              <p>Trello</p>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="info">
              <h5>Timeline</h5>
              <p>2 weeks</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
