<div class="pbtech-discover-behaviours">
  <div class="row">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-8">
        <h3 class="text-center font-weight-normal blue-text">
          Testing Our Assumptions
        </h3>
        <br />
        <p class="text-center">
          Once the team had a prototype ready for use, we knew we needed to put
          it in the hands of our customers.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="col-lg-4">
        <p>Usability Test</p>
        <p>Methodology : Interview</p>
        <p>Participant: 5 Users</p>
        <p class="font-weight-bold">
          Results: The test helps us verify 2 things we did well and find 3
          issues to improve.
        </p>
      </div>
      <div class="col-lg-6">
        <div class="pbtech-discover-behaviours-image">
          <img src="images/portfolio/pbtech/SoftBlueCaseStudy.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="col-lg-12">
        <h3 class="font-weight-normal">Things we did well</h3>
        <p>
          <span class="pbtech-test-iteration-content-stats"> 100%</span> of
          Participants were able to successfully complete the quiz
        </p>
        <p class="pbtech-test-iteration-content-stats">
          <span class="pbtech-test-iteration-content-stats"></span> Verified
          hybrid approach can meet users’ “berry-picking model”
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="col-lg-6">
        <p>
          The solution of hybrid approach works well in our user test. Three of
          them started with the quiz at the very beginning. The other two users,
          one started with browsing the most popular laptops and the other one
          used the search bar directly.
        </p>
      </div>
      <div class="col-lg-5">
        <img src="images/portfolio/pbtech/m6show.png" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="col-lg-12">
        <h3 class="font-weight-normal">Things we did well</h3>
        <p>
          <span class="pbtech-test-iteration-content-stats"> 100%</span> of
          Participants were able to successfully complete the quiz
        </p>
        <div class="container d-flex justify-content-between">
          <img class="col-lg-3" src="images/portfolio/pbtech/Frame179.png" />
          <img class="col-lg-3" src="images/portfolio/pbtech/Frame180.png" />
          <img class="col-lg-3" src="images/portfolio/pbtech/Frame183.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-8">
        <h3 class="text-center font-weight-normal blue-text">Iteration</h3>
        <br />
        <p class="text-center">
          Redesigned up-selling information for corporate customer
        </p>
        <img
          class="pbtech-iteration-image container d-flex justify-content-center"
          src="images/portfolio/pbtech/Frame191.png"
        />
        <p class="text-center">
          So, we changed the wording of the CTA from "apply for business
          account" to "contact us".
        </p>
        <p class="text-center">
          Signing up is a big commitment for most people. Most users today are
          more wary than ever about how to handle their personal information.
        </p>
        <p class="text-center">
          Before applying for an account, they need to know more information to
          have trust and comfort. By clicking contact us , it will lead to
          PB-tech business service page. So the user can get access to the
          information they need regarding PB-tech's business plan and contact
          methods.
        </p>
        <img
          class="pbtech-iteration-improve-image container d-flex justify-content-center"
          src="images/portfolio/pbtech/Group33504.png"
        />
        <img
          class="pbtech-iteration-improve-image container d-flex justify-content-center"
          src="images/portfolio/pbtech/Frame193.png"
        />
        <p class="text-center">
          We added the business information on the landing page by placing it in
          the hero area. Because one of our testers, Janet, who had real-world
          experience purchasing computers for her company, had a tendency to go
          to the home page rather than the product page.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-12">
        <h3 class="text-center font-weight-normal blue-text">
          Final prototype handover
        </h3>
        <div class="container d-flex justify-content-between">
          <img class="col-lg-5" src="images/portfolio/pbtech/Group33505.png" />
          <img class="col-lg-5" src="images/portfolio/pbtech/pads.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="pbtech-iteration-quotes justify-content-center mt-5">
    <img src="images/portfolio/pbtech/Quotes.png" />
  </div>

  <div class="row">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-12">
        <h3 class="text-center font-weight-normal blue-text">Final design</h3>
        <div class="container d-flex justify-content-center">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/lZWC5ZAS-8A"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
