<div class="pbtech-discover-behaviours">
  <div class="row">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-12 d-flex justify-content-center">
        <img src="images/portfolio/pbtech/teamwork.png" alt="" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-8">
        <h3 class="text-center font-weight-normal blue-text">
          Using <span class="font-italic">Crazy Eights</span> to Turn Ideation
          into Prototype
        </h3>
        <br />
        <p class="text-center">
          Since we had so many details to design and were under time pressure,
          we needed to work rapidly, jumping straight from sketching to
          prototyping.
        </p>
        <p class="text-center">
          So I decided to use the Crazy 8 method. The purpose is to generate a
          number of different ideas within a short period of time.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container d-flex justify-content-between">
      <div class="col-lg-4">
        <p>
          Using the user flow as a guide, we did our own sketches using crazy 8
          and rated the parts that we liked.
        </p>
        <p class="text-center">
          After discussing the feasibility with the developers, our vision began
          evolving into something tangible. A high‐level design language, and
          interactions began to piece together.
        </p>
      </div>
      <div class="col-lg-8">
        <div class="pbtech-discover-behaviours-image">
          <img src="images/portfolio/pbtech/8Grids.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="row pbtech-prototype-design-system">
    <img src="images/portfolio/pbtech/designsystem.png" />
  </div>
</div>
