<div class="pbtech-define-examples">
  <div>
    <img src="images/portfolio/pbtech/quote.png" />
  </div>
  <div class="row">
    <div class="container d-flex justify-content-between pt-5 pb-5">
      <div class="col-lg-5">
        <div class="pbtech-define-examples-image">
          <img src="images/portfolio/pbtech/MacBookPro1.png" />
        </div>
      </div>
      <div
        class="col-lg-5 d-flex flex-column justify-content-center align-items-start"
      >
        <h5>1. Too many products to look through</h5>
        <p>
          Only one category can be selected at a time, resulting in too many
          products on the next listing pages.
        </p>
        <p class="text-center">
          over 300 products are overwhelming for the users (example of business
          laptop selected)
        </p>
        <h5>2. Filter is too long and complicated</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container d-flex justify-content-between">
      <div
        class="col-lg-5 d-flex flex-column justify-content-center align-items-start"
      >
        <h5>product page is crowded and loaded</h5>
        <p>
          Product name mixed with specification details Description of feature
          is crowded and overloaded with information
        </p>
      </div>
      <div class="col-lg-7">
        <div class="pbtech-define-examples-image">
          <img src="images/portfolio/pbtech/MacbookPro2.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-8">
        <p class="text-center p-5">
          Based on the content of the given scenario, we created personas.
        </p>
        <div class="pbtech-define-examples-image">
          <img src="images/portfolio/pbtech/Group16.png" />
        </div>
      </div>
    </div>
  </div>
</div>
