<div class="container p-5">
  <div class="row" id="heading_highlight_2">
    <div class="container d-flex justify-content-between">
      <div class="col-md-6">
        <h5>
          Redesigned landing page to support different users shopping behavior
        </h5>
        <p>Our solution is using a <b>hybrid approach</b> by:</p>

        <p class="highlight-section">
          <img src="images/portfolio/pbtech/arrow.png" />
          <span
            >providing <b>browsing experience</b> to let the users see popular
            products right away
          </span>
        </p>
        <p class="highlight-section">
          <img src="images/portfolio/pbtech/arrow.png" />
          <span
            >retaining the <b>category approach</b> but with a new layout, as it
            plays an educational role for complex products like laptops.
          </span>
        </p>

        <p class="highlight-section">
          <img src="images/portfolio/pbtech/arrow.png" />
          <span
            >allowing users to skip them by redesigning the
            <b>search function</b>.
          </span>
        </p>
      </div>
      <div class="col-md-5 pb-image-section">
        <img
          class="pb-highlight-image"
          src="images/portfolio/pbtech/pbhighlight3.png"
          alt="highlight"
        />
      </div>
    </div>
  </div>
</div>
