<div class="container p-5">
  <div class="row" id="heading_brief">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-8">
        <h3
          id="pb_heading_background"
          class="d-flex justify-content-center font-weight-normal"
        >
          The Background
        </h3>
        <br />
        <p class="text-center">This is a given context design challenge.</p>
        <p class="text-center">
          Diana and Alan, owners of a small business, used the PB Tech website
          to buy new laptops (about 15 units), but they were dissatisfied with
          the online shopping experience.
        </p>
        <p class="text-center">
          The task is to use the given story as the context, provide a prototype
          for the development of redesigned laptop feature pages. Using
          https://www.pbtech.co.nz/category/computers/laptops as a reference..
        </p>
      </div>
    </div>
  </div>
</div>
