<div class="pbtech-discover-behaviours">
  <div class="row">
    <div class="container d-flex justify-content-center pt-5">
      <div class="col-lg-8">
        <h3 class="text-center font-weight-normal blue-text pt-5">
          Understand the user‘s behaviours
        </h3>
        <h4 class="text-center p-3">Secondary research</h4>
        <p class="text-center">
          Three users showed different behaviours ,two used category but the
          other one wanted to browse first. So we tried to find out the reason
          behind that.
        </p>
        <p class="text-center">
          Our secondary research revealed a classic user behaviour theory known
          as the <b>"Users’ Berry-Picking Model"</b> which well describes how
          people shop online.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="pbtech-discover-behaviours-image">
  <img src="images/portfolio/pbtech/Group33500.png" alt="" />
</div>
<div class="row">
  <div class="container d-flex justify-content-center pb-5">
    <div class="col-lg-8">
      <p class="text-center">
        So we decide to redesign the laptop landing page by using a hybrid
        approach including searching, browsing and category options to meet
        different customers’ needs.
      </p>
    </div>
  </div>
</div>
