<div class="pbtech-reflection p-5">
  <div class="row">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-6">
        <div class="container d-flex justify-content-center">
          <small class="text-center">what I learned</small>
        </div>
        <h3
          id="pb_heading_reflection"
          class="text-center font-weight-normal p-3"
        >
          Reflection
        </h3>
        <br />
        <p>
          At the time of submission, I had difficulty accepting the reality of
          this product, because I knew there were so much I could do. As it was
          a design challenge, I was unable to conduct stakeholder interviews
          .There was no opportunity to ask why.
        </p>
        <p>
          If I had more time, I would like to investigate deeper into the needs
          for the users. Additionally, I want to conduct an AB test to verify
          our improvements. Also gathering precise data for the next iteration.
        </p>
        <p>
          I am very proud of what we accomplished as a team. I’ve learned a lot
          about the perspectives from developers.
        </p>
        <p>
          I am so thankful to have had a team that was hard working and great to
          collaborate with.
        </p>
        <p>Design is a team sport !</p>
      </div>
    </div>
  </div>
</div>
