<div class="pbtech-discover-behaviours">
  <div class="row">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-8">
        <h3 class="text-center font-weight-normal blue-text p-5">
          Key Insight Found By Us
        </h3>
        <br />
        <h4 class="text-center pb-5">
          As a result of heuristic review and customer joinery map, here are
          some
        </h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container d-flex justify-content-between">
      <div class="col-lg-5 d-flex flex-column justify-content-center">
        <h5>Unable to meet user’s different shopping behaviour</h5>
        <p>
          Browsing information (e.g. most popular ) at the very bottom, cannot
          meet diverse customers’ needs.
        </p>
        <h5>No information for corporate customers</h5>
        <p class="text-center">
          The only link to PB's business plan is on the home page. If the user
          uses Google and goes to the page for laptops or to the page for
          specific products, the business information will not be able to be
          found.
        </p>
        <h5>Buyer guide is a long article</h5>
      </div>
      <div class="col-lg-7">
        <div class="pbtech-define-insight-image">
          <img src="images/portfolio/pbtech/macbook.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
