<div class="container p-5">
  <div class="row pb-5">
    <div class="container d-flex justify-content-between">
      <div class="col-md-6 pb-image-transition pt-5 pb-5">
        <div class="bg-large-text">04</div>
        <h5>Restructured Filter to help further narrow down search results</h5>
      </div>
    </div>
  </div>
  <div class="row" id="heading_highlight_2">
    <div class="container d-flex justify-content-between">
      <div
        class="col-md-4 pb-5 pb-image-transition container d-flex justify-content-center"
      >
        <img
          class="transition-img"
          src="images/portfolio/pbtech/beforechange.png"
        />
      </div>
      <div class="col-md-4 pb-5 pb-image-transition">
        <img class="transition-img" src="images/portfolio/pbtech/arrow2.png" />
      </div>
      <div
        class="col-md-4 pb-image-transition container d-flex justify-content-center"
      >
        <img
          class="transition-img"
          src="images/portfolio/pbtech/afterchange.png"
          alt="highlight"
        />
      </div>
    </div>
  </div>

  <div class="row" id="heading_highlight_2">
    <div class="container d-flex justify-content-between">
      <div class="col-md-4 pb-image-transition">
        <div class="bg-large-text">Before</div>
        <ul class="before-crossed">
          <li>Have to click "apply" every time</li>
          <li>No explanation</li>
          <li>List too long</li>
        </ul>
      </div>
      <div class="col-md-4 pb-image-transition">
        <div class="bg-large-text">After</div>
        <ul>
          <li>Show results automatically to save users' efforts</li>
          <li>Provide more details with tooltips</li>
          <li>Clearer filtering list</li>
        </ul>
      </div>
    </div>
  </div>
</div>
