<div class="pbtech-discover-behaviours">
  <div class="row">
    <div class="container d-flex justify-content-center pt-5">
      <div class="col-lg-8">
        <p class="text-center">
          As a result of heuristic review and customer joinery map, here are
          some
        </p>
        <h3 class="text-center font-weight-normal blue-text pt-3 pb-5">
          Key Insight Found By Us
        </h3>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="container d-flex justify-content-between">
      <div class="col-lg-4 d-flex flex-column justify-content-center">
        <h5>Unable to meet user’s different shopping behaviour</h5>
        <p>
          Browsing information (e.g. most popular ) at the very bottom, cannot
          meet diverse customers’ needs.
        </p>
        <h5 class="pt-5">No information for corporate customers</h5>
        <p>
          The only link to PB's business plan is on the home page. If the user
          uses Google and goes to the page for laptops or to the page for
          specific products, the business information will not be able to be
          found.
        </p>
        <h5 class="pt-5">Buyer guide is a long article</h5>
      </div>
      <div class="col-lg-8">
        <div>
          <p class="text-center">BP Tech’s original Laptop Landing page</p>
          <div
            class="pbtech-define-insight-image d-flex flex-column align-items-end"
          >
            <img src="images/portfolio/pbtech/macbook.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div></div>
