<nav
  id="navbar-pbtech"
  class="navbar sticky-navbar-top navbar-light bg-light px-3"
>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#pb_heading_brief">The brief</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#pb_heading_research">Research</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#pb_heading_ideation">Ideation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#pb_heading_prototype">Prototype</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#pb_heading_test_iteration">Test & Iteration</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#pb_heading_final_design">Final design</a>
    </li>
  </ul>
</nav>
