<div class="pbtech-experience">
  <img
    src="images/portfolio/pbtech/User2.png"
    class="pbtech-experience-image-2"
  />
  <img
    src="images/portfolio/pbtech/User3.png"
    class="pbtech-experience-image-3"
  />
  <img
    src="images/portfolio/pbtech/User4.png"
    class="pbtech-experience-image-4"
  />
  <div class="row">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-8">
        <h3 class="text-center font-weight-normal blue-text">
          Understand users’ current experience
        </h3>
        <br />
        <h4 class="text-center">Customer journey map</h4>
        <p class="text-center">
          We found three users and gave them a task as a business owner looking
          for laptops. According to their actions combined with the given
          insights of customers, we created a customer journey map.
        </p>
        <p class="text-center">
          It allowed us to communicate the severity of the pain‐points and
          facilitate conversations about the areas we wanted to fix.
        </p>
        <div class="pbtech-experience-image d-flex justify-content-center">
          <img src="images/portfolio/pbtech/CustomerJourneyMap.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="row pb-5">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-8">
        <h4 class="text-center">
          An interesting finding leads to further research
        </h4>
        <p class="text-center">
          Two users selected "business laptop category" on the landing page, but
          then got lost when they saw more than 300 items on the following
          listing page.
        </p>

        <p class="text-center">
          One user firstly wanted to browse the most popular business models,
          but it took him a long time to find them at the very bottom of the
          landing page.
        </p>
      </div>
    </div>
  </div>
</div>
