<div class="container p-5">
  <div class="row" id="heading_brief">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-8">
        <h3 class="d-flex justify-content-center font-weight-normal p-5">
          Highlight of the solution
        </h3>
        <br />
      </div>
    </div>
  </div>
  <div class="row" id="heading_brief">
    <div class="container d-flex justify-content-between">
      <div class="col-md-4">
        <h5>Add a quiz feature to help users find the right laptop</h5>
        <p>
          Before, on the landing page, the user is only allowed to choose one
          category at a time. An example would be, a user selecting 'business
          laptop', which will result in 381 products on the next listing page.
          Now, by using the quiz feature, if the user selects ‘business laptop>
          mac> medium size’, there will only be 23 results left.
        </p>
        <p>
          This could help narrow down the search results, so that users can find
          a meaningful starting point.
        </p>
      </div>
      <div class="col-md-5 pb-image-section">
        <p>
          Quiz reduced irrelevant results
          <span class="pb-important"> by 91 %</span>
        </p>
        <br />
        <img
          class="pb-highlight-image"
          src="images/portfolio/pbtech/pbhighlight.gif"
          alt="highlight"
        />
      </div>
    </div>
  </div>
</div>
