<div class="container p-5">
  <div class="pb-5">
    <div class="container d-flex justify-content-between">
      <div class="col-md-6 pt-5 pb-5">
        <div class="bg-large-text">05</div>
        <h5>Simplified Product page to help users focus on the product</h5>
      </div>
    </div>
  </div>
  <div class="row" id="heading_highlight_2">
    <div class="container d-flex justify-content-between">
      <div class="col-md-4 pb-image-transition pb-3">
        <img
          class="simplified-img"
          src="images/portfolio/pbtech/highlightwebbefore.png"
        />
      </div>
      <div class="col-md-4 pb-image-transition">
        <img
          class="simplified-img"
          src="images/portfolio/pbtech/highlightwebafter.png"
          alt="highlight"
        />
      </div>
    </div>
  </div>

  <div class="row" id="heading_highlight_2">
    <div class="container d-flex justify-content-between">
      <div class="col-md-4 pb-image-transition pb-3">
        <div class="bg-large-text">Before</div>
        <ul class="before-crossed">
          <li>Product name mixed with specification details</li>
          <li>
            Description of feature is crowded and overloaded with information
          </li>
        </ul>
      </div>
      <div class="col-md-4 pb-image-transition">
        <div class="bg-large-text">After</div>
        <ul>
          <li>Simplified product name</li>
          <li>Gave product information more space</li>
          <li>Increased the visibility of the features & specifications</li>
        </ul>
      </div>
    </div>
  </div>
</div>
