<div class="container p-5">
  <div class="row" id="heading_highlight_2">
    <div class="container d-flex justify-content-between">
      <div class="col-md-4">
        <h5>
          Enrich the hero section to help corporate customers know about PB's
          business plans
        </h5>
        <p>
          We added the business information on the hero area of the landing page
          to help corporate customers understand PB-Tech’s business plan and
          bulk pricing.
        </p>

        <p>
          PB-Tech‘s original website has a business plan page, which is a
          wonderful end-to-end business IT service, but it is not easily found.
        </p>
      </div>
      <div class="col-md-6 pb-image-section">
        <img
          class="pb-highlight-image-variant"
          src="images/portfolio/pbtech/pbhighlight2.png"
          alt="highlight"
        />
      </div>
    </div>
  </div>
</div>
