<nav
  id="navbar-pbtech"
  class="navbar sticky-navbar-top navbar-light bg-light px-3"
>
  <ul class="nav nav-fill nav-header-full">
    <li class="nav-item">
      <a class="nav-link" href="#pb_heading_overview">Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#pb_heading_discover">Discover</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#pb_heading_ideation">Ideation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#pb_heading_define">Define</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#pb_heading_test_iteration">Test & Iteration</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#pb_heading_reflection">Reflection</a>
    </li>
  </ul>
</nav>
