<div class="pbtech-discover-behaviours">
  <div class="row">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-8">
        <h3 class="text-center font-weight-normal blue-text">
          Understand the user‘s behaviours
        </h3>
        <br />
        <h4 class="text-center">Secondary research</h4>
        <p class="text-center">
          Three users showed different behaviours ,two used category but the
          other one wanted to browse first. So we tried to find out the reason
          behind that.
        </p>
        <p class="text-center">
          Our secondary research revealed a classic user behaviour theory known
          as the "Users’ Berry-Picking Model" which well describes how people
          shop online.
        </p>
        <div class="pbtech-discover-behaviours-image">
          <img src="images/portfolio/pbtech/Group33500.png" alt="" />
        </div>
        <p class="text-center">
          So we decide to redesign the laptop landing page by using a hybrid
          approach including searching, browsing and category options to meet
          different customers’ needs.
        </p>
      </div>
    </div>
  </div>
</div>
