<div class="container p-5">
  <div class="row" id="heading_brief">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-6">
        <h3 class="d-flex justify-content-center font-weight-normal">
          The Problems
        </h3>
        <br />
        <p class="text-center">
          As the largest computer retailer in New Zealand, PB Tech's online
          sales performance has been less than stellar. They also want to
          attract more online corporate customers . But sales to business
          customers are not doing well either.
        </p>
      </div>
    </div>
  </div>
</div>
