<div class="pbtech-experience">
  <div class="row" id="heading_brief">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-8">
        <h3 class="text-center font-weight-normal blue-text">
          Understand users’ current experience
        </h3>
        <br />
        <h4 class="text-center">Customer journey map</h4>
        <p class="text-center">
          We found three users and gave them a task as a business owner looking
          for laptops. According to their actions combined with the given
          insights of customers, we created a customer journey map.
        </p>
        <p class="text-center">
          It allowed us to communicate the severity of the pain‐points and
          facilitate conversations about the areas we wanted to fix.
        </p>
        <div class="pbtech-experience-image d-flex justify-content-center">
          <img src="images/portfolio/pbtech/CustomerJourneyMap.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
