<div class="pbtech-define-examples">
  <div>
    <img src="images/portfolio/pbtech/quote.png" alt="" />
  </div>
  <div class="row">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-8">
        <h3 class="text-center font-weight-normal blue-text">
          Key Insight Found By Us
        </h3>
        <br />
        <h4 class="text-center">
          As a result of heuristic review and customer joinery map, here are
          some
        </h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container d-flex justify-content-between">
      <div class="col-lg-7">
        <div class="pbtech-discover-behaviours-image">
          <img src="images/portfolio/pbtech/MacbookPro1.png" alt="" />
        </div>
      </div>
      <div class="col-lg-5">
        <h5>Too many products to look through</h5>
        <p>
          Only one category can be selected at a time , resulting in too many
          products on the next listing pages.
        </p>
        <p class="text-center">
          over 300 products are overwhelming for the users (example of business
          laptop selected)
        </p>
        <h5>Filter is too long and complicated</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container d-flex justify-content-between">
      <div class="col-lg-5">
        <h5>product page is crowded and loaded</h5>
        <p>
          Product name mixed with specification details Description of feature
          is crowded and overloaded with information
        </p>
      </div>
      <div class="col-lg-7">
        <div class="pbtech-discover-behaviours-image">
          <img src="images/portfolio/pbtech/MacbookPro2.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-8">
        <p class="text-center">
          Based on the content of the given scenario, we created personas.
        </p>
        <img src="images/portfolio/pbtech/Group16.png" />
      </div>
    </div>
  </div>
</div>
