<section class="journey">
  <div class="container">
    <div class="row pt-5">
      <div class="col-lg-3 d-flex align-items-center justify-content-center">
        <img class=" " src="images/3.png" alt="profile image" />
      </div>
      <div class="col-lg-9">
        <div class="color-indicator brown"></div>
        <h3>Shanghai</h3>
        <p>
          My 10th birthday present was an Olympus film camera. The first camera
          in my life also brought my first income. I became a young reporter for
          Shanghai kid's news.10 yuan for a piece of news($2). <br />Which
          photos I took at the time are very blurry when I think about it now.
          But I still clearly remember the joy that I had was sending my film
          away to get it developed. That was something to look forward, even if
          I had no idea what I had taken. The uncertain outcome, which to me
          “feels like magic”.
        </p>
      </div>
    </div>
    <br />
    <br />
    <div class="row pt-5 pb-5">
      <div class="col-lg-3 d-flex align-items-center justify-content-center">
        <img class=" " src="images/4.png" alt="profile image" />
      </div>
      <div class="col-lg-9">
        <div class="color-indicator grey"></div>
        <h3>Tokyo</h3>
        <p>
          Because of my love for Japanese anime, in college, I learned Japanese
          art and language. After graduation, I joined a Japanese company, where
          my work included translation,
          <b>designing company magazines, brochures</b> for marketing, and
          business cards. <br />
          Due to the internal transfer, I then joined the HR department. I have
          applied my <b>psychology knowledge</b> and acquired
          <b>interpersonal skills</b> through my work in human resources.
        </p>
      </div>
    </div>
    <br />
    <br />
    <div class="row pb-5">
      <div class="col-lg-3 d-flex align-items-center justify-content-center">
        <img class=" " src="images/5.png" alt="profile image" />
      </div>
      <div class="col-lg-9">
        <div class="color-indicator blue"></div>
        <h3>Auckland</h3>
        <p>
          After moving to Auckland, I became a qualified early childhood
          teacher. I've learned <b>empathy</b> by caring for children who cannot
          talk yet. <br />
          After the experience with children, I started training adult educators
          as a program coordinator. I have gained skills in
          <b>instructional design</b> by <b>facilitating workshops</b> and
          making curricula for the children.
          <br />
          In my spare time, I run a small online business through Shopify,
          Amazon, and Taobao. During the process of learning <b>eCommerce</b> by
          myself, I found my interest in UX design. So I was determined to go
          back to school to learn systematically.
        </p>
      </div>
    </div>
  </div>
</section>
