<section class="section banner outside-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="color-indicator pink"></div>
        <h3>Outside of work</h3>
        <p>
          I'm an animal lover and a movie buff． <br />I never miss a good
          sci-fi movie. <br />Christopher Nolan is my favorite director.
        </p>
        <br />
        <br />
        <br />
        <h4>Let’s work together</h4>
      </div>
      <div class="col-lg-6 d-flex flex-row-reverse align-self-end">
        <img
          src="images/mia.png"
          alt="image"
          class="img-fluid personal-image"
        />
      </div>
    </div>
  </div>
</section>
