<nav
  id="navbar-gastric"
  class="navbar sticky-navbar-top navbar-light bg-light px-3"
>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading1">The brief</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading2">Empathize</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading2">Define</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading2">Ideation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading2">Final design</a>
    </li>
  </ul>
</nav>
