<nav
  id="navbar-gastric"
  class="navbar sticky-navbar-top navbar-light bg-light px-3"
>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#heading_brief">The brief</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#heading_empathize">Empathize</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#heading_define">Define</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#heading_ideation">Ideation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#heading_final_design">Final design</a>
    </li>
  </ul>
</nav>
